$base-color: #BFBFBF;
$base-color-alt: #808080;
$background1: #121212;
$background2: #333333;
$background3: #1F1F1F;
$accent1: #D1B38A;
$accent2: #E1AA5D;

@font-face {
	font-family: 'Envy Code R';
	src: url("../font/Envy Code R.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	color: $base-color;
	background-color: $background1;
	font-family: 'Arial', 'Helvetica', 'sans-serif';
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Envy Code R', 'monospace';
  	color: $accent1;
	font-size: 1.2em;
}

h1 {
	font-size: 1.4em;
}

nav {
	background-color: $background2;
	font-family: 'Envy Code R', 'monospace';
	height: 22px;
}

.navbar .nav-item {
	text-align: center;
}

.bord {
	color: $base-color;
	border: 5px solid $background3;
	border-radius: 0;
	padding: 5px;
  	margin-top: 5px;
}

img {
	border: 3px solid #262626;
}