{{ define "main" }}
    {{ .Content }}

	<h1>Showcase</h1>

    {{ range .Site.RegularPages }}
    <article class="post">
        <header class="post__header">
            <h2><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
            <p class="post__meta">
                {{ .Params.description }},
                <span class="date">{{ .Date.Format "2 January 2006" }}</span>
            </p>
        </header>


        <a href="{{ .Permalink }}">
            {{ with .Resources }}
                {{ with .GetMatch "{cover.*,*.jpg,*.png,*.jpeg}" }}
                    {{ $cover := .Resize "600x" }}
                    {{ with $cover }}
                        <img src="{{ .Permalink }}"/>
                    {{ end }}
                {{ end }}
            {{ end }}
        </a>
    </article>
    {{ end }}
{{ end }}
